<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>

  <arg name="odom_frame_id"   default="tb3_1_tf/odom" />
  <arg name="base_frame_id"   default="tb3_1_tf/base_footprint" />
  <arg name="global_frame_id" default="map" />
  <arg name="laser_topic" default="/tb3_1/scan" />

  <arg name="cmd_vel_topic" default="/tb3_1/cmd_vel" />
  <arg name="odom_topic" default="/tb3_1/odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base2" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />

    <param name="global_costmap/global_frame" value="$(arg global_frame_id)" />
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)" />
    <param name="local_costmap/global_frame" value="$(arg global_frame_id)" />
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)" />
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)" />

    <remap from="cmd_vel"                                                                       to="$(arg cmd_vel_topic)"/>
    <remap from="odom"                                                                          to="$(arg odom_topic)"/>
    <remap from="scan"                                                                          to="$(arg laser_topic)"/>
    <remap from="map"                                                                           to="/map"/>

    <remap from="/move_base_simple/goal"                                                        to="/tb3_1/move_base_simple/goal"                                           />
    <remap from="/move_base/TebLocalPlannerROS/global_plan"                                     to="/tb3_1/move_base/TebLocalPlannerROS/global_plan"                        />
    <remap from="/move_base/TebLocalPlannerROS/local_plan"                                      to="/tb3_1/move_base/TebLocalPlannerROS/local_plan"                         />
    <remap from="/move_base/TebLocalPlannerROS/teb_markers"                                     to="/tb3_1/move_base/TebLocalPlannerROS/teb_markers"                        />
    <remap from="/move_base/TebLocalPlannerROS/teb_markers_array"                               to="/tb3_1/move_base/TebLocalPlannerROS/teb_markers_array"                  />
    <remap from="/move_base/TebLocalPlannerROS/teb_poses"                                       to="/tb3_1/move_base/TebLocalPlannerROS/teb_poses"                          />
    <remap from="/move_base/global_costmap/costmap"                                             to="/tb3_1/move_base/global_costmap/costmap"                                />
    <remap from="/move_base/global_costmap/costmap_updates"                                     to="/tb3_1/move_base/global_costmap/costmap_updates"                        />
    <remap from="/move_base/local_costmap/costmap"                                              to="/tb3_1/move_base/local_costmap/costmap"                                 />
    <remap from="/move_base/local_costmap/costmap_updates"                                      to="/tb3_1/move_base/local_costmap/costmap_updates"                         />
    <remap from="/move_base/local_costmap/footprint"                                            to="/tb3_1/move_base/local_costmap/footprint"                               />
    <remap from="/move_base/GlobalPlanner/parameter_descriptions"                               to="/tb3_1/move_base/GlobalPlanner/parameter_descriptions"                  />
    <remap from="/move_base/GlobalPlanner/parameter_updates"                                    to="/tb3_1/move_base/GlobalPlanner/parameter_updates"                       />
    <remap from="/move_base/GlobalPlanner/plan"                                                 to="/tb3_1/move_base/GlobalPlanner/plan"                                    />
    <remap from="/move_base/GlobalPlanner/potential"                                            to="/tb3_1/move_base/GlobalPlanner/potential"                               />
    <remap from="/move_base/TebLocalPlannerROS/obstaclces"                                      to="/tb3_1/move_base/TebLocalPlannerROS/obstaclces"                         />
    <remap from="/move_base/TebLocalPlannerROS/parameter_descriptions"                          to="/tb3_1/move_base/TebLocalPlannerROS/parameter_descriptions"             />
    <remap from="/move_base/TebLocalPlannerROS/parameter_updates"                               to="/tb3_1/move_base/TebLocalPlannerROS/parameter_updates"                  />
    <remap from="/move_base/cancel"                                                             to="/tb3_1/move_base/cancel"                                                />
    <remap from="/move_base/current_goal"                                                       to="/tb3_1/move_base/current_goal"                                          />
    <remap from="/move_basefeedback"                                                            to="/tb3_1/move_basefeedback"                                               />
    <remap from="/move_base/global_costmap/footprint"                                           to="/tb3_1/move_base/global_costmap/footprint"                              />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_descriptions"              to="/tb3_1/move_base/global_costmap/inflation_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_updates"                   to="/tb3_1/move_base/global_costmap/inflation_layer/parameter_updates"      />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_descriptions"               to="/tb3_1/move_base/global_costmap/obstacle_layer/parameter_descriptions"  />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_updates"                    to="/tb3_1/move_base/global_costmap/obstacle_layer/parameter_updates"       />
    <remap from="/move_base/global_costmap/parameter_descriptions"                              to="/tb3_1/move_base/global_costmap/parameter_descriptions"                 />
    <remap from="/move_base/global_costmap/parameter_updates"                                   to="/tb3_1/move_base/global_costmap/parameter_updates"                      />
    <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"                 to="/tb3_1/move_base/global_costmap/static_layer/parameter_descriptions"    />
    <remap from="/move_base/global_costmap/static_layer/parameter_updates"                      to="/tb3_1/move_base/global_costmap/static_layer/parameter_updates"         />
    <remap from="/move_base/goal"                                                               to="/tb3_1/move_base/goal"                                                  />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_descriptions"                to="/tb3_1/move_base/local_costmap/obstacle_layer/parameter_descriptions"   />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_updates"                     to="/tb3_1/move_base/local_costmap/obstacle_layer/parameter_updates"        />
    <remap from="/move_base/local_costmap/parameter_descriptions"                               to="/tb3_1/move_base/local_costmap/parameter_descriptions"                  />
    <remap from="/move_base/local_costmap/parameter_updates"                                    to="/tb3_1/move_base/local_costmap/parameter_updates"                       />
    <remap from="/move_base/local_costmap/static_layer/parameter_descriptions"                  to="/tb3_1/move_base/local_costmap/static_layer/parameter_descriptions"     />
    <remap from="/move_base/local_costmap/static_layer/parameter_updates"                       to="/tb3_1/move_base/local_costmap/static_layer/parameter_updates"          />
    <remap from="/move_base/parameter_descriptions"                                             to="/tb3_1/move_base/parameter_descriptions"                                />
    <remap from="/move_base/parameter_updates"                                                  to="/tb3_1/move_base/parameter_updates"                                     />
    <remap from="/move_base/result"                                                             to="/tb3_1/move_base/result"                                                />
    <remap from="/move_base/status"                                                             to="/tb3_1/move_base/status"                                                />



  </node>
</launch>
